<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="basic">Main Color</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main-color"
    colorVar="@main-color"
    linkedVar=false
}}
<!-- Customizer block body [end] -->



<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="basic">Main Body Colors</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Body Bg"
    colorVar="@main-body-bg"
    linkedVar=false
}}
{{ renderContent 'colorLessVar'
displayCategory= "basic"
title="Main Border Color"
colorVar="@border-color"
linkedVar=false
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Text Color"
    colorVar="@main-text-color"
    linkedVar=false
}}
<!-- Customizer block body [end]-->



<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="basic">Main Links Colors</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Link Color"
    colorVar="@main-link-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Link Hover Color"
    colorVar="@main-link-hover-color"
    linkedVar=true
}}
<!-- Customizer block body [end]-->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="basic">Footer Colors</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Footer Background"
    colorVar="@footer-background"
    linkedVar=false
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Footer Color"
    colorVar="@footer-color"
    linkedVar=false
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Footer Link Color"
    colorVar="@footer-link-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Footer Link Hover Color"
    colorVar="@footer-link-hover-color"
    linkedVar=true
}}
<!-- Customizer block body [end]-->



<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="basic">Logo</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
<div class="customizer-logo-link" data-display="basic">
    <label class="customizer-logo-link__title">Logo link
        <input class="customizer-logo-link__val js__customizer-logo-link__val" type="text" placeholder="image link">
        <div class="customizer-dimension-input__return-to-default js__customizer-logo-link__return-to-default">
            <span class="customizer-dimension-input__tooltip">Return to default logo</span>
        </div>
    </label>
</div>
{{ renderContent 'dimensionLessVar'
    displayCategory= "basic"
    title="Logo Left"
    dimensionVar="@logo-left"
    placeholder="40px"
}}
{{ renderContent 'dimensionLessVar'
    displayCategory= "basic"
    title="Logo Top"
    dimensionVar="@logo-top"
    placeholder="30px"
}}
{{ renderContent 'dimensionLessVar'
    displayCategory= "basic"
    title="Logo Width"
    dimensionVar="@logo-width"
    placeholder="130px"
}}
<!-- Customizer block body [end]-->



<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="advanced">Header Top Colors</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
displayCategory= "advanced"
title="Header Top Background Color"
colorVar="@header-top-bg-color"
linkedVar=true
}}
{{ renderContent 'colorLessVar'
displayCategory= "advanced"
title="Header Top Color"
colorVar="@header-top-color"
linkedVar=true
}}
<!-- Customizer block body [end]-->



<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="advanced">Header Top</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'dimensionLessVar'
    displayCategory= "advanced"
    title="Header Top Height"
    dimensionVar="@header-top-height"
    placeholder="50px"
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Top"
    elclass=".header-top"
    visibleByDefault=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Top Contacts"
    elclass=".header-top__contact"
    visibleByDefault=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Top LangMenu"
    elclass=".header-top__language-menu"
    visibleByDefault=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Top Navigation"
    elclass=".header-top .nav"
    visibleByDefault=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Top Search"
    elclass=".header-top .main-navigation__search-btn-wrp, .header-top .main-navigation__search-box"
    visibleByDefault=false
}}
<!-- Customizer block body [end]-->



    <!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="advanced">Header Middle Colors</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Header Middle Background Color"
    colorVar="@header-middle-bg-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Header Border Color"
    colorVar="@header-border-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Header Middle Search Btn Bg"
    colorVar="@header-middle-search-btn-bg"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Header Middle Search Btn Hover"
    colorVar="@header-middle-search-btn-hover"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Social Icons Background Color"
    colorVar="@social-icons-bg-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Social Icons Hover Color"
    colorVar="@social-icons-hover-color"
    linkedVar=true
}}
<!-- Customizer block body [end]-->



    <!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="advanced">Header Middle</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'dimensionLessVar'
    displayCategory= "advanced"
    title="Header Middle Height"
    dimensionVar="@header-middle-height"
    placeholder="130px"
}}
{{ renderContent 'dimensionLessVar'
    displayCategory= "advanced"
    title="Header Middle Search Height"
    dimensionVar="@header-middle-search-height"
    placeholder="44px"
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Middle"
    elclass=".header-middle-wrp"
    visibleByDefault=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Middle Logo"
    elclass=".header-middle__logo"
    visibleByDefault=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Middle Search"
    elclass=".header-middle__search-wrp"
    visibleByDefault=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Middle SocIcons"
    elclass=".header-middle__social-icon"
    visibleByDefault=false
}}
<!-- TODO:  Header Middle Search Height-->
<!-- TODO:  Show Header Middle Search-->
<!-- Customizer block body [end]-->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="advanced">Main Menu Colors</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Background Color"
    colorVar="@nav-background-color"
    linkedVar=true
}}
{{ renderContent 'dimensionLessVar'
    displayCategory= "advanced"
    title="Navigation Height"
    dimensionVar="@nav-height"
    placeholder="64px"
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Active Color"
    colorVar="@nav-link-active-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Active Hover Color"
    colorVar="@nav-link-active-hover-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Arrow Color"
    colorVar="@nav-link-arrow-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Color"
    colorVar="@nav-link-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Hover Background"
    colorVar="@nav-link-hover-background"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Hover Color"
    colorVar="@nav-link-hover-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Search Button Color"
    colorVar="@nav-search-btn-color"
    linkedVar=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show Header Main Menu Search"
    elclass=".main-navigation .main-navigation__search-btn-wrp, .main-navigation .main-navigation__search-box"
    visibleByDefault=false
}}
<!-- Customizer block body [end]-->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="advanced">Breadcrumbs</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Breadcrumbs Background"
    colorVar="@breadcrumbs-background"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Breadcrumbs Link Color"
    colorVar="@breadcrumbs-link-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Breadcrumbs Link Active Color"
    colorVar="@breadcrumbs-link-active-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Breadcrumbs Link Hover Color"
    colorVar="@breadcrumbs-link-hover-color"
    linkedVar=true
}}
{{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title="Show breadcrumbs"
    elclass=".breadcrumbs"
    visibleByDefault=true
}}
<!-- Customizer block body [end]-->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header" data-display="advanced">Sub Menu Colors</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Sub Navigation Background"
    colorVar="@sub-navigation-background"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Sub Navigation Border"
    colorVar="@sub-navigation-border"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Sub Navigation Active Border"
    colorVar="@sub-navigation-active-border"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Sub Navigation Link Color"
    colorVar="@sub-navigation-link-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Sub Navigation Link Hover Color"
    colorVar="@sub-navigation-link-hover-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Sub Navigation Link Hover Bg"
    colorVar="@sub-navigation-link-hover-bg"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Sub Navigation Link Active Color"
    colorVar="@sub-navigation-link-active-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Sub Navigation Link Active Bg"
    colorVar="@sub-navigation-link-active-bg"
    linkedVar=true
}}
<!-- Customizer block body [end]-->







<!-- Template -->

<!-- Customizer block header [begin]-->
<!-- <h5 class="customizer-block__header">test</h5> -->
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
<!-- {{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main-color"
    colorVar="@main-color"
    linkedVar=false
}} -->
<!-- {{ renderContent 'dimensionLessVar'
    displayCategory= "advanced"
    title=""
    dimensionVar=""
    placeholder="50px"
}} -->
<!-- {{ renderContent 'elementStatus'
    displayCategory= "advanced"
    title=""
    elclass=""
    visibleByDefault=true
}} -->
<!-- Customizer block body [end] -->
