<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header">Type of header</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
<!-- Customizer block body [end] -->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header">Main Color</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main-color"
    colorVar="@main-color"
    linkedVar=false
}}
<!-- Customizer block body [end] -->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header">Main Body</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Body Bg"
    colorVar="@main-body-bg"
    linkedVar=false
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Text Color"
    colorVar="@main-text-color"
    linkedVar=false
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Border Color"
    colorVar="@border-color"
    linkedVar=false
}}
<!-- Customizer block body [end]-->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header">Main Links</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Link Color"
    colorVar="@main-link-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Main Link Hover Color"
    colorVar="@main-link-hover-color"
    linkedVar=true
}}
<!-- Customizer block body [end]-->





<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header">Header Top</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->

<!-- Customizer block body [end]-->






    <!-- Customizer block header [begin]-->
<h5 class="customizer-block__header">Header Middle</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'integerLessVar'
    displayCategory= "basic"
    title="Logo Left"
    integerVar="@logo-left"
    placeholder="40px"
}}
{{ renderContent 'integerLessVar'
    displayCategory= "basic"
    title="Logo Top"
    integerVar="@logo-top"
    placeholder="24px"
}}
{{ renderContent 'integerLessVar'
    displayCategory= "basic"
    title="Logo Width"
    integerVar="@logo-width"
    placeholder="120px"
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Header Middle Background Color"
    colorVar="@header-middle-bg-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Header Middle Border Color"
    colorVar="@header-border-color"
    linkedVar=true
}}
{{ renderContent 'integerLessVar'
    displayCategory= "advanced"
    title="Header Middle Height"
    integerVar="@header-middle-height"
    placeholder="120px"
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Social Icons Background Color"
    colorVar="@social-icons-bg-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Social Icons Hover Color"
    colorVar="@social-icons-hover-color"
    linkedVar=true
}}
<!-- Customizer block body [end]-->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header">Header Main Menu</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Background Color"
    colorVar="@nav-background-color"
    linkedVar=true
}}
{{ renderContent 'integerLessVar'
    displayCategory= "advanced"
    title="Navigation Height"
    integerVar="@nav-height"
    placeholder="64px"
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Active Color"
    colorVar="@nav-link-active-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Active Hover Color"
    colorVar="@nav-link-active-hover-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Arrow Color"
    colorVar="@nav-link-arrow-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Color"
    colorVar="@nav-link-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Hover Background"
    colorVar="@nav-link-hover-background"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Link Hover Color"
    colorVar="@nav-link-hover-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "advanced"
    title="Navigation Search Button Color"
    colorVar="@nav-search-btn-color"
    linkedVar=true
}}
<!-- Customizer block body [end]-->


<!-- Customizer block header [begin]-->
<h5 class="customizer-block__header">Footer Colors</h5>
<!-- Customizer block header [end]-->

<!-- Customizer block body [begin] -->
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Footer Background"
    colorVar="@footer-background"
    linkedVar=false
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Footer Color"
    colorVar="@footer-color"
    linkedVar=false
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Footer Link Color"
    colorVar="@footer-link-color"
    linkedVar=true
}}
{{ renderContent 'colorLessVar'
    displayCategory= "basic"
    title="Footer Link Hover Color"
    colorVar="@footer-link-hover-color"
    linkedVar=true
}}
<!-- Customizer block body [end]-->
